/* Content from About.css */
#about p {
  text-align: center;
  margin: 10px 0;
}

/* Content from Footer.css */
footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: white;
}

/* Content from Header.css */
header {
  background-image: url('../../public/images/Background.png');
  background-size: cover;
  color: white;
  text-align: center;
  padding: 50px 20px;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.profile-pic {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
}

.header-text {
  text-align: center;
}

.header-text h1 {
  margin: 0;
  font-size: 2.5em;
}

.header-text h2 {
  margin: 10px 0;
  font-size: 1.5em;
  font-weight: normal;
}

.social-icons a {
  color: white;
  font-size: 1.5em;
  margin: 0 10px;
  text-decoration: none;
}

/* Content from Skills.css */
#skills .skills-content {
  display: flex;
  justify-content: space-around;
}

.tech-skills,
.other-skills {
  width: 45%;
}

h3 {
  text-align: center;
  color: #090909;
}

span {
  color: #ff6347;
}

ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

li {
  margin: 10px 0;
}

.project-image {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#comic-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#comic img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Additional general styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  color: #333;
}

section {
  padding: 40px 20px;
  background-color: white;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #f1f3f1;
  text-align: center;
}

.comic-container {
  text-align: center;
  padding: 20px;
}

.comic-container img {
  max-width: 100%;
  height: auto;
  margin: 20px 0;
}

.comic-container h2,
.comic-container h3 {
  color: #333;
}

.comic-container p {
  color: #666;
}
